header {
	background-color:#29769C;
}

#index {
	height:200px;
	background-image:url("../img/cta.png");
	background-color:#29769c;
	background-position:bottom;
	background-repeat:no-repeat;
}

#start {
	margin-top:110px;
	margin-left:190px;
	margin-right:15px;
}

h5 {
	padding:0px;
	margin:0px;
}
